@font-face {
	font-family: 'Linearicons-Free';
	src:url('font/Linearicons-Free.eot?w118d');
	src:url('font/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('font/Linearicons-Free.woff2?w118d') format('woff2'),
		url('font/Linearicons-Free.woff?w118d') format('woff'),
		url('font/Linearicons-Free.ttf?w118d') format('truetype'),
		url('font/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
	content: "\e800";
}
.lnr-apartment:before {
	content: "\e801";
}
.lnr-pencil:before {
	content: "\e802";
}
.lnr-magic-wand:before {
	content: "\e803";
}
.lnr-drop:before {
	content: "\e804";
}
.lnr-lighter:before {
	content: "\e805";
}
.lnr-poop:before {
	content: "\e806";
}
.lnr-sun:before {
	content: "\e807";
}
.lnr-moon:before {
	content: "\e808";
}
.lnr-cloud:before {
	content: "\e809";
}
.lnr-cloud-upload:before {
	content: "\e80a";
}
.lnr-cloud-download:before {
	content: "\e80b";
}
.lnr-cloud-sync:before {
	content: "\e80c";
}
.lnr-cloud-check:before {
	content: "\e80d";
}
.lnr-database:before {
	content: "\e80e";
}
.lnr-lock:before {
	content: "\e80f";
}
.lnr-cog:before {
	content: "\e810";
}
.lnr-trash:before {
	content: "\e811";
}
.lnr-dice:before {
	content: "\e812";
}
.lnr-heart:before {
	content: "\e813";
}
.lnr-star:before {
	content: "\e814";
}
.lnr-star-half:before {
	content: "\e815";
}
.lnr-star-empty:before {
	content: "\e816";
}
.lnr-flag:before {
	content: "\e817";
}
.lnr-envelope:before {
	content: "\e818";
}
.lnr-paperclip:before {
	content: "\e819";
}
.lnr-inbox:before {
	content: "\e81a";
}
.lnr-eye:before {
	content: "\e81b";
}
.lnr-printer:before {
	content: "\e81c";
}
.lnr-file-empty:before {
	content: "\e81d";
}
.lnr-file-add:before {
	content: "\e81e";
}
.lnr-enter:before {
	content: "\e81f";
}
.lnr-exit:before {
	content: "\e820";
}
.lnr-graduation-hat:before {
	content: "\e821";
}
.lnr-license:before {
	content: "\e822";
}
.lnr-music-note:before {
	content: "\e823";
}
.lnr-film-play:before {
	content: "\e824";
}
.lnr-camera-video:before {
	content: "\e825";
}
.lnr-camera:before {
	content: "\e826";
}
.lnr-picture:before {
	content: "\e827";
}
.lnr-book:before {
	content: "\e828";
}
.lnr-bookmark:before {
	content: "\e829";
}
.lnr-user:before {
	content: "\e82a";
}
.lnr-users:before {
	content: "\e82b";
}
.lnr-shirt:before {
	content: "\e82c";
}
.lnr-store:before {
	content: "\e82d";
}
.lnr-cart:before {
	content: "\e82e";
}
.lnr-tag:before {
	content: "\e82f";
}
.lnr-phone-handset:before {
	content: "\e830";
}
.lnr-phone:before {
	content: "\e831";
}
.lnr-pushpin:before {
	content: "\e832";
}
.lnr-map-marker:before {
	content: "\e833";
}
.lnr-map:before {
	content: "\e834";
}
.lnr-location:before {
	content: "\e835";
}
.lnr-calendar-full:before {
	content: "\e836";
}
.lnr-keyboard:before {
	content: "\e837";
}
.lnr-spell-check:before {
	content: "\e838";
}
.lnr-screen:before {
	content: "\e839";
}
.lnr-smartphone:before {
	content: "\e83a";
}
.lnr-tablet:before {
	content: "\e83b";
}
.lnr-laptop:before {
	content: "\e83c";
}
.lnr-laptop-phone:before {
	content: "\e83d";
}
.lnr-power-switch:before {
	content: "\e83e";
}
.lnr-bubble:before {
	content: "\e83f";
}
.lnr-heart-pulse:before {
	content: "\e840";
}
.lnr-construction:before {
	content: "\e841";
}
.lnr-pie-chart:before {
	content: "\e842";
}
.lnr-chart-bars:before {
	content: "\e843";
}
.lnr-gift:before {
	content: "\e844";
}
.lnr-diamond:before {
	content: "\e845";
}
.lnr-linearicons:before {
	content: "\e846";
}
.lnr-dinner:before {
	content: "\e847";
}
.lnr-coffee-cup:before {
	content: "\e848";
}
.lnr-leaf:before {
	content: "\e849";
}
.lnr-paw:before {
	content: "\e84a";
}
.lnr-rocket:before {
	content: "\e84b";
}
.lnr-briefcase:before {
	content: "\e84c";
}
.lnr-bus:before {
	content: "\e84d";
}
.lnr-car:before {
	content: "\e84e";
}
.lnr-train:before {
	content: "\e84f";
}
.lnr-bicycle:before {
	content: "\e850";
}
.lnr-wheelchair:before {
	content: "\e851";
}
.lnr-select:before {
	content: "\e852";
}
.lnr-earth:before {
	content: "\e853";
}
.lnr-smile:before {
	content: "\e854";
}
.lnr-sad:before {
	content: "\e855";
}
.lnr-neutral:before {
	content: "\e856";
}
.lnr-mustache:before {
	content: "\e857";
}
.lnr-alarm:before {
	content: "\e858";
}
.lnr-bullhorn:before {
	content: "\e859";
}
.lnr-volume-high:before {
	content: "\e85a";
}
.lnr-volume-medium:before {
	content: "\e85b";
}
.lnr-volume-low:before {
	content: "\e85c";
}
.lnr-volume:before {
	content: "\e85d";
}
.lnr-mic:before {
	content: "\e85e";
}
.lnr-hourglass:before {
	content: "\e85f";
}
.lnr-undo:before {
	content: "\e860";
}
.lnr-redo:before {
	content: "\e861";
}
.lnr-sync:before {
	content: "\e862";
}
.lnr-history:before {
	content: "\e863";
}
.lnr-clock:before {
	content: "\e864";
}
.lnr-download:before {
	content: "\e865";
}
.lnr-upload:before {
	content: "\e866";
}
.lnr-enter-down:before {
	content: "\e867";
}
.lnr-exit-up:before {
	content: "\e868";
}
.lnr-bug:before {
	content: "\e869";
}
.lnr-code:before {
	content: "\e86a";
}
.lnr-link:before {
	content: "\e86b";
}
.lnr-unlink:before {
	content: "\e86c";
}
.lnr-thumbs-up:before {
	content: "\e86d";
}
.lnr-thumbs-down:before {
	content: "\e86e";
}
.lnr-magnifier:before {
	content: "\e86f";
}
.lnr-cross:before {
	content: "\e870";
}
.lnr-menu:before {
	content: "\e871";
}
.lnr-list:before {
	content: "\e872";
}
.lnr-chevron-up:before {
	content: "\e873";
}
.lnr-chevron-down:before {
	content: "\e874";
}
.lnr-chevron-left:before {
	content: "\e875";
}
.lnr-chevron-right:before {
	content: "\e876";
}
.lnr-arrow-up:before {
	content: "\e877";
}
.lnr-arrow-down:before {
	content: "\e878";
}
.lnr-arrow-left:before {
	content: "\e879";
}
.lnr-arrow-right:before {
	content: "\e87a";
}
.lnr-move:before {
	content: "\e87b";
}
.lnr-warning:before {
	content: "\e87c";
}
.lnr-question-circle:before {
	content: "\e87d";
}
.lnr-menu-circle:before {
	content: "\e87e";
}
.lnr-checkmark-circle:before {
	content: "\e87f";
}
.lnr-cross-circle:before {
	content: "\e880";
}
.lnr-plus-circle:before {
	content: "\e881";
}
.lnr-circle-minus:before {
	content: "\e882";
}
.lnr-arrow-up-circle:before {
	content: "\e883";
}
.lnr-arrow-down-circle:before {
	content: "\e884";
}
.lnr-arrow-left-circle:before {
	content: "\e885";
}
.lnr-arrow-right-circle:before {
	content: "\e886";
}
.lnr-chevron-up-circle:before {
	content: "\e887";
}
.lnr-chevron-down-circle:before {
	content: "\e888";
}
.lnr-chevron-left-circle:before {
	content: "\e889";
}
.lnr-chevron-right-circle:before {
	content: "\e88a";
}
.lnr-crop:before {
	content: "\e88b";
}
.lnr-frame-expand:before {
	content: "\e88c";
}
.lnr-frame-contract:before {
	content: "\e88d";
}
.lnr-layers:before {
	content: "\e88e";
}
.lnr-funnel:before {
	content: "\e88f";
}
.lnr-text-format:before {
	content: "\e890";
}
.lnr-text-format-remove:before {
	content: "\e891";
}
.lnr-text-size:before {
	content: "\e892";
}
.lnr-bold:before {
	content: "\e893";
}
.lnr-italic:before {
	content: "\e894";
}
.lnr-underline:before {
	content: "\e895";
}
.lnr-strikethrough:before {
	content: "\e896";
}
.lnr-highlight:before {
	content: "\e897";
}
.lnr-text-align-left:before {
	content: "\e898";
}
.lnr-text-align-center:before {
	content: "\e899";
}
.lnr-text-align-right:before {
	content: "\e89a";
}
.lnr-text-align-justify:before {
	content: "\e89b";
}
.lnr-line-spacing:before {
	content: "\e89c";
}
.lnr-indent-increase:before {
	content: "\e89d";
}
.lnr-indent-decrease:before {
	content: "\e89e";
}
.lnr-pilcrow:before {
	content: "\e89f";
}
.lnr-direction-ltr:before {
	content: "\e8a0";
}
.lnr-direction-rtl:before {
	content: "\e8a1";
}
.lnr-page-break:before {
	content: "\e8a2";
}
.lnr-sort-alpha-asc:before {
	content: "\e8a3";
}
.lnr-sort-amount-asc:before {
	content: "\e8a4";
}
.lnr-hand:before {
	content: "\e8a5";
}
.lnr-pointer-up:before {
	content: "\e8a6";
}
.lnr-pointer-right:before {
	content: "\e8a7";
}
.lnr-pointer-down:before {
	content: "\e8a8";
}
.lnr-pointer-left:before {
	content: "\e8a9";
}


/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(font/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(font/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(font/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

 html {
    font-family: 'Source Sans Pro', sans-serif;color:#444;
    font-size: 18px;
    line-height: 1.45;
}
.right-arow:before {	content:'\27A8';margin-right:5px;color:#ccc}
.star-solid:before {	content:'\2605'}
[class*=bd] {	border-width:1px;	border-color:#ddd;	border-style:solid}
[class*="-bdsolid"] {	border-style:solid!important }
[class*="-bddot"] {	border-style:dotted!important}
[class*="-bddash"] {	border-style:dashed!important}
[class*="-bdyellow"] {border-color:#FF8951}
[class*="-bdgrey"] {	border-color:#ccc}
[class*="-bdvgrey"] {border-color:#eee}
[class*="-bdblack"] {border-color:#383838}
[class*="-bdgreen"] {border-color:#408000}
[class*="-bdblue"] {	border-color:#2d95e5}
class*="-bdwhite"] {	border-color:#fff}
[class*=bd-none] {border-width:0!important}
[class*=bd-top] {border-width:1px 0 0!important}
[class*=bd-bot] {border-width:0 0 1px!important}
[class*=bd-bot2] {border-width:0 0 3px!important}
[class*=bd-left] {border-width:0 0 0 1px!important}
[class*=bd-right] {border-width:0 1px 0 0!important}
[class*=bdleftright] {border-width:0 1px!important}
[class*=bdtopbot] {border-width:1px 0!important}
[class*=rad2] {-webkit-border-radius:2px;-moz-border-radius:2px;	border-radius:2px}
[class*=rad3] {-webkit-border-radius:3px;-moz-border-radius:3px;	border-radius:3px}
[class*=rad4] {-webkit-border-radius:4px;-moz-border-radius:4px;	border-radius:4px}
blockquote{line-height:1.6em;border-left:#ddd solid 2px; padding-left:10px;font-size:130%;color:#777;margin:5px 0px;font-weight:150;font-family: 'Source Sans Pro', sans-serif;}
[class*=rad5] {	-webkit-border-radius:5px;	-moz-border-radius:5px;	border-radius:5px}
[class*=rad6] {	-webkit-border-radius:6px;	-moz-border-radius:6px;	border-radius:6px}
[class*=rad8] {	-webkit-border-radius:8px;	-moz-border-radius:8px;	border-radius:8px}
[class*=mrg0] {	margin:0}
[class*=mrg2] {	margin:2px}
[class*=mrg3] {	margin:3px}
[class*=mrg5] {	margin:5px}
[class*=mrg6] {	margin:6px}
[class*=mrg10] {	margin:10px}
[class*=mrg10x5] {margin:10px 5px}
[class*=mrg20] {margin:20px}

[class*=mrg30] {	margin:30px}
[class*=mrg50] {	margin:50px}
[class*=mrg_top_60] {margin-top:60px!important}
[class*="_shad"] {text-shadow:1px 1px 1px #606060}
a[href^="tel:"] {font-family:arial}
a[href^="tel:"]:before {	content:'\260E';padding-right:5px}
.fyellow,.fyellow a {color:#ec971f!important}
.bgyellow {background:#FF952B}
.bgblue{background:#3B78E7}
.bvgrey {background:#F7F7F7}
.bgreyd{background:#D6DCD8}
.bgads {	background:#eee}
.bgred{background:#db4437}
.bgredblack {background:#8E1207}
.bgredwh{background:#F37373}
.bgblack {background:#000}
.bgorange {background:#f16c49;color:#fff}
.bgyellow-wh {background:#feeac6}
.bgrey-hyellow {background:#eee;	color:#333}
.bgrey-hyellow:hover {background:#FF952B;color:#fff}

.fbold {font-weight:bold}
.fontn {	font-weight:normal}
.fwhite {color:#fff!important}
.fgrey {	color:gray}
.fvgrey {color:#727272;}
.fgrey a {}
.fwhite a {color:#fff}
.fwhite a:hover {color:#E9E9E9}
.fgreen,.fgreen a {color:#1BB483}

.fred,.fred a {color:#CC0000}
.fblue,.fblue a {color:#2d95e5}
.fblue-d,.fblue-d a {color:#3b5998}
.fbrown,.fbrown a {color:#60382D}
.fgeo {font-family:Georgia,Tahoma}
.fopen {    font-family: 'Open Sans',sans-serif;}
.faria {	font-family:Arial,Tahoma}
.ftah {font-family:Tahoma,Arial}
.fsan{font-family:sans-serif,helvetica}

.zindex-1 {z-index:-1}.zindex-2 {z-index:-2}.zindex-3 {z-index:-3}.zindex-4 {z-index:-4}.zindex-5 {z-index:-5}.zindex1 {
z-index:1}.zindex2 {	z-index:2}.zindex3 {	z-index:3}.zindex4 {	z-index:4}.zindex5 {	z-index:5}
.nolist ul {	list-style-type:none;margin:0;padding:0}
.nolist ul li {padding-left:0}.nolist ol {margin:0;padding:0}.nolist ol li {	margin-left:20px}.nolist-inline ul {	list-style-type:none;margin:0;padding:0}
.nolist-inline ul li {display:inline-block;	padding:5px 5px}
.nolist-inline ol {margin:0;padding:0}.nolist-inline ol li {margin-left:20px}
.one-edge-shadow {-webkit-box-shadow:0 2px 1px -1px rgba(70, 70, 70, 0.63);-moz-box-shadow:0 2px 1px -1px rgba(70, 70, 70, 0.63);box-shadow:0 2px 1px -1px rgba(70, 70, 70, 0.63);}
.btn-green,.btn-green.active,.btn-green:active,.btn-green:focus,.btn-green:hover,.open .dropdown-toggle.btn-green {
color:#fff;background-color:#44AD10;border-color:#529E0B}
.btn-green.active,.btn-green:active,.open .dropdown-toggle.btn-green {background-image:none}
.btn-green.disabled,.btn-green.disabled.active,.btn-green.disabled:active,.btn-green.disabled:focus,.btn-green.disabled:hover,.btn-green[disabled],.btn-green[disabled].active,.btn-green[disabled]:active,.btn-green[disabled]:focus,.btn-green[disabled]:hover,fieldset[disabled] .btn-green,fieldset[disabled] .btn-green.active,fieldset[disabled] .btn-green:active,fieldset[disabled] .btn-green:focus,fieldset[disabled] .btn-green:hover {background-color:#44AD10;border-color:#529E0B}
.btn-green .badge {color:#44AD10;background-color:#fff}
.btn-yellow,.btn-yellow.active,.btn-yellow:active,.btn-yellow:focus,.btn-yellow:hover,.open .dropdown-toggle.btn-yellow {color:#fff;	background-color:#F5A823;border-color:#CC6D08}
.btn-yellow.active,.btn-yellow:active,.open .dropdown-toggle.btn-yellow {background-image:none}
.btn-yellow.disabled,.btn-yellow.disabled.active,.btn-yellow.disabled:active,.btn-yellow.disabled:focus,.btn-yellow.disabled:hover,.btn-yellow[disabled],.btn-yellow[disabled].active,.btn-yellow[disabled]:active,.btn-yellow[disabled]:focus,.btn-yellow[disabled]:hover,fieldset[disabled] .btn-yellow,fieldset[disabled] .btn-yellow.active,fieldset[disabled] .btn-yellow:active,fieldset[disabled] .btn-yellow:focus,fieldset[disabled] .btn-yellow:hover {background-color:#F5A823;border-color:#CC6D08}
.btn-yellow .badge {	color:#F5A823;background-color:#fff}
.btn-grey,.btn-grey.active,.btn-grey:active,.btn-grey:focus,.btn-grey:hover,.open .dropdown-toggle.btn-grey {
	color:#615E5E;background-color:#E6E3DF;	border-color:#99938D}.btn-grey.active,.btn-grey:active,.open	.dropdown-toggle.btn-grey {	background-image:none}
.btn-grey.disabled,.btn-grey.disabled.active,.btn-grey.disabled:active,.btn-grey.disabled:focus,.btn-grey.disabled:hover,.btn-grey[disabled],.btn-grey[disabled].active,.btn-grey[disabled]:active,.btn-grey[disabled]:focus,.btn-grey[disabled]:hover,fieldset[disabled] .btn-grey,fieldset[disabled] .btn-grey.active,fieldset[disabled] .btn-grey:active,fieldset[disabled] .btn-grey:focus,fieldset[disabled] .btn-grey:hover {background-color:#E6E3DF;border-color:#99938D}
.btn-grey .badge {color:#E6E3DF;	background-color:#615E5E}
.post-img img,.postpage img,img.mapimg {max-width:100%;height:auto;}
.inset-shadow-bar {
	-moz-box-shadow:inset 0 8px 8px -8px #777,inset 0 -8px 8px -8px #777;
	-webkit-box-shadow:inset 0 8px 8px -8px #777,inset 0 -8px 8px -8px #777;
	box-shadow:inset 0 8px 8px -8px #777,inset 0 -8px 8px -8px #777
}
.inset-shadow-grey {
	-moz-box-shadow:0 8px 8px -8px #444,0 -8px 8px -8px #444;
	-webkit-box-shadow:0 8px 8px -8px #444,0 -8px 8px -8px #444;
	box-shadow:0 8px 8px -8px #444,0 -8px 8px -8px #444
}
body {margin:0 auto;font-family:inherit;color:inherit;transition:all 1s ease-in-out;	-moz-transition:all 1s ease-in-out;	-o-transition:all 1s ease-in-out;}
main{width:100%;max-width:1100px;margin:0 auto}
a {	color:#2d95e5;text-decoration:none}
a:hover {color:#2d95e5}
body h1,h2 {font-weight:600;}
img {vertical-align:middle;text-align:center}
.hideshownav {display:none;right:0;	z-index:1000}
.transit {	transition:all 2s ease-in-out;-moz-transition:all 2s ease-in-out;-o-transition:all 2s ease-in-out}
.size-full {	margin:2px auto}
.thumbcontainer {cursor:zoom-in}
.clear,.entry-content img,.entry-summary img,.thumbcontainer img,img[class*=align],img[class*=attachment-],img[class*=wp-image-] {clear:both}
.gallery {width:100%;margin:5px auto}
.gallery-item {float:left;position:relative;	overflow:hidden;width:33.3%;padding:0;margin:0!important;text-align:center}
.gallery-icon {	padding:5px 0}
.gallery-caption {display:none}
.gallery img {max-width:100%;height:auto;border:0!important}
.posrel {position:relative}
.posrelhid {	position:relative;	overflow:hidden;	transition:all 1s ease-in-out;	-moz-transition:all 1s ease-in-out;	-o-transition:all 1s ease-in-out}
.abs {position:absolute}
.fix {position:fixed}
.wh100 {	width:100%;	height:100%}
.topbot0 {top:0;	bottom:0}
.bot10 {	bottom:10px}
.bot20 {	bottom:20px}
.bot30 {	bottom:30px}
.bot40 {	bottom:40px}
.bot50 {	bottom:50px}
.opa0{opacity:0}
.opa2 {opacity:.2}
.opa3 {opacity:.3}
.opa4 {opacity:.4}
.opa5 {opacity:.5}
.opa6 {opacity:.6}
.opa7 {opacity:.7}
.opa8 {opacity:.8}
.opa9 {opacity:.9}
.dblock {display:block}
.dinblock {display:inline-block}
.dinline {display:inline}
.dinone {display:none}
.centerdiv {	margin:auto}
.curpon {cursor:pointer}
.text-left {	text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.text-justify {text-align:justify}
.nav-icon {margin:0;	width:35px}
.nav-icon div,.nav-icon:after,.nav-icon:before {	background-color:#333;	-o-border-radius:3px;	-moz-border-radius:3px;	-ms-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;	content:'';	display:block;	height:5px;	margin:7px 0;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}

.cap{text-transform:capitalize!important}.low{text-transform:lowercase}.upp{text-transform:uppercase}.bigger{font-size:180%;font-weight:100;font-family:Tahoma,Arial}
.bblack{background:#353535}.bwhite{background:#fff}.bgrey{background:rgba(169, 206, 160, 0.54);}.bgreen{background:#1BB483}.bbgreen{background:#0590a5}.byellow{background:#FF8040}.bblue{background:#2d95e5}
.fblack {color:#353535!important}
.fblack2{color:#5D5858!important}
.cur {	cursor:pointer}

@media (max-width:770px) {
#frontmenu{width:80%;margin:auto;font-size:90%}
#frontmenu ul li{padding:15px 5px}
#frontmenu ul li a{display:block;
-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;}
#frontmenu ul li a:hover{
opacity:0.6;-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3)}
#frontmenu .lnr{font-size:160%}
.post-img img{width:100%!important;height:auto!important}
section blockquote p{font-size:14px;color:#555;font-family:"Noto Sans", sans-serif;}
.labels{}
.labels img{width:50px}
.mfloleft{float:left}.mfloright{float:right}.mobnon{display:none}.pad0x20,.pad10,.pad10x20,.pad20,.pad20x10,.pad5{padding:5px}.top40{padding-top:40px}.pad2{padding:2px}.pad0x10{padding:0 10px}.wbut{padding:20px;margin:2px;display:block}button:focus,input:focus,select:focus,textarea:focus{outline:0}
.post-body h1{font-family:Tahoma;font-size:200%}
.post-body h2{font-family:Tahoma;font-size:150%}
.post-body h3{font-family:Tahoma;font-size:120%}
#topmenu{}
#topmenu ul{margin:0;padding:0}
#topmenu ul li{list-style-type:none;padding:0}
#topmenu ul li a{display:block;font-size:120%;border-bottom:#fff solid 1px;padding:10px;font-weight:bold}
#topmenu ul li:last-child a{border-bottom: 0px;}
.mtext-center{text-align:center!important;display:block}
[class*=mrg10x30] {margin:5px 10px}
.mobnon{display:show}
.font70 {font-size:70%}
.font75 {font-size:75%}
.font80 {font-size:80%}
.font90 {font-size:90%}
.font100 {font-size:100%}
.font120 {font-size:100%}
.font140 {font-size:100%}
.font150 {font-size:100%}
.font160 {font-size:100%}
.font180 {font-size:120%}
.font200 {font-size:150%}
.font250 {font-size:150%}
.font300 {font-size:150%}
::-webkit-scrollbar {
    display: none!important;
}
}
@media (min-width:770px) {
#frontmenu{width:80%;margin:auto}
#frontmenu ul li{padding:15px}
#frontmenu ul li a{display:block;
-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;}
#frontmenu ul li a:hover{
opacity:0.6;-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3)}
#frontmenu .lnr{font-size:160%}
section blockquote p{font-size:20px;color:#555;font-family:"Noto Sans", sans-serif;}
#sideleft{}
#sideleft ul li{line-height:1.8em}
#sideleft ul li ul{padding:5px 5px 5px 10px;}
#sideleft ul li ul li a{color:#666;border-bottom:#eee dotted 1px;font-size:80%;line-height:1.4em}
.subcoment{max-height:350px;position:relative;overflow:auto}
.subcoment2{max-height:450px;position:relative;overflow:auto}
.post-img{max-width:100%!important;height:auto!important}
.dtable{display:table;vertical-align: top;}.drow{display:table-row}.dcel{display:table-cell;vertical-align:middle}
.duser{vertical-align: top;margin-bottom:5px;min-height:450px}
.height600{height:600px}
.height400{height:400px}
.labels{}
.labels img{width:30px}
 [class*=mrg10x30] {margin:10px 30px}
#topmenu{}
#topmenu ul{margin:0;padding:0}
#topmenu ul li{display:inline;list-style-type:none;padding:0}
#topmenu ul li a{font-size:90%;display:inline-block;padding:5px 15px 5px 5px;}
#topmenu ul li:last-child a{border-bottom:transparent solid 0px;}
.fixad{position:fixed;top:80px}.fixad2{position:fixed;top:60px}
.width10{width:10%}.width15{width:15%}.width16{width:16.6666%}.width18{width:18%}.width20{width:20%}.width25{width:25%}.width29{width:29%}.width32{width:32%}
.width33{width:33.33%}.width33s{width:320px;height:320px}
.width30{width:30%}.width35{width:35%}.width40{width:40%}.width45{width:45%}.width48{width:48%}.width50{width:50%}.width55{width:55%}.width60{width:60%}.width65{width:65%}.width68{width:68%}.width70{width:70%}.width75{width:75%}.width76{width:76%}.width78{width:78%}.width80{width:80%}.width85{width:85%}.width90{width:90%}.width95{width:95%}.width98{width:98%}.width100{width:100%;max-width:1000px}.width150{width:150%}.width200{width:200%}.width400{width:400%}.width500{width:500%}
.pad5{padding:5px}.pad10{padding:10px!important}.pad10x5{padding:10px 5px}.pad20{padding:20px}.pad0x20{padding:0 20px}.pad20x10{padding:20px 10px}.pad10x20{padding:10px 20px}.pad2{padding:2px}.pad0x10{padding:0 10px}.pad5x10{padding:5px 10px}.top40{padding-top:60px;border-bottom:#ccc dotted 1px}
.floleft{float:left}.floright{float:right}.mfloleft{float:left}.mfloright{float:right}.mobshow{display:none}
.font70 {font-size:70%}
.font75 {font-size:75%}
.font80 {font-size:80%}
.font90 {font-size:90%}
.font100 {font-size:100%}
.font120 {font-size:120%}
.font140 {font-size:140%}
.font150 {font-size:150%}
.font160 {font-size:160%}
.font180 {font-size:180%}
.font200 {font-size:200%}
.font250 {font-size:250%}
.font300 {font-size:300%}
}

.width10d{width:10%}.width15d{width:15%}.width16d{width:16.6666%}.width18d{width:18%}.width20d{width:20%}.width25d{width:25%}.width29d{width:29%}.width32d{width:32%}.width33d{width:33.33%}.width30d{width:30%}.width35d{width:35%}.width40d{width:40%}.width45d{width:45%}.width48d{width:48%}.width50d{width:50%}.width55d{width:55%}.width60d{width:60%}.width65d{width:65%}.width68d{width:68%}.width70d{width:70%}.width75d{width:75%}.width76d{width:76%}.width78d{width:78%}.width80d{width:80%}.width85d{width:85%}.width90d{width:90%}.width95d{width:95%}.width98d{width:98%}.width100d{width:100%;max-width:1000px}.width150d{width:150%}.width200d{width:200%}.width400d{width:400%}.width500d{width:500%}

.fixad {
	position:fixed;
	top:80px
}
.fixad2 {
	position:fixed;
	top:60px
}
.circle {
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;

}
table#openinghours{width:100%;border-collapse: collapse;}
table#openinghours td{border-bottom:1px dotted #ddd;}
table#openinghours tr:nth-child(even) {background: #FCFCFC}
table#openinghours tr:nth-child(odd) {background: #eee}
#detailhotel table{width:100%;border-collapse: collapse;}
#detailhotel table td{width:50%;border-bottom:1px solid #eee;padding:10px 5px}
#detailhotel table tr:nth-child(even) {background: #efefef}
#detailhotel table tr:nth-child(odd) {background: #FFF}
.min30{min-height:30px;}
.min60{min-height:60px;}
.min200{min-height:200px;}
.min250{min-height:250px;}
.min300{min-height:300px;}
.min350{min-height:330px;}
.min400{min-height:500px;}
.min600{min-height:600px;}
.width10m{width:10%}.width15m{width:15%}.width16m{width:16.6666%}.width18m{width:18%}.width20m{width:20%}.width25m{width:25%}.width32m{width:32%}.width33m{width:33.33%}.width30m{width:30%}.width35m{width:35%}.width40m{width:40%}.width45m{width:45%}.width50m{width:50%}.width55m{width:55%}.width60m{width:60%}.width65m{width:65%}.width68m{width:68%}.width70m{width:70%}.width75m{width:75%}.width76m{width:76%}.width78m{width:78%}.width80m{width:80%}.width85m{width:85%}.width90m{width:90%}.width95m{width:95%}.width98m{width:98%}.width100m{width:100%}

.bread-inline ul li:before{content:"/";}
.bread-inline ul li:first-child:before{content:" ";}
#fixad{	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out}
.navi{}
.navi a{display:inline-block;padding:5px;margin:5px;color:#D07004}
#menutop{display:none}
.mapicon ul li{border-bottom:#eee dotted 1px}

.post_tagss ul {
	list-style-type:none;
	margin:0;
	padding:0
}
.post_tagss ul li {background:#B0B0B0;color:#fff;border-radius:2px;
	display:inline-block;
	padding:5px 5px;margin:2px
}
.post_tagss ul li a{color:#fff}
.loadimg{background:url(loading.gif) no-repeat center center;background-size:20px}

.socia{}
.socia a{background:url(social.png) no-repeat;background-size:180px;width:60px;height:52px;-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;margin:0px 5px}
.socia a.fbag{background-position: 0px 0px}
.socia a.fbag:hover{background-position: 0px -52px}
.socia a.tbag{background-position: -60px 0px}
.socia a.tbag:hover{background-position: -60px -52px}
.socia a.gbag{background-position: -120px 0px;}
.socia a.gbag:hover{background-position: -120px -52px;}

.headright{text-align:right}

.shadow{padding-top:5px}
#media{}
.likecomment{	-moz-transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	transition:all .5s ease-out;}

.dnext{display:none}
.loadtext{}
input,input:focus {
border:0!important;outline:none
}
.search input{padding:10px}
.isearch{background:url(search.png) no-repeat center center;border:0;background-size:20px;padding:15px}

.bbgrey{background:#E5E5E5}
.box{box-sizing: border-box;
    background-color: #EEEEEE;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0;
    vertical-align: top;border-radius:3px;margin:0px 2px 5px 2px;padding:3px}
.hopa6{opacity:0.7;
-moz-transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	transition:all .5s ease-out;}
.hopa6:hover{opacity:1}
.img100 img{width:100%}
.captionshort{position:absolute;bottom:0px;margin:7px;padding-left:0px;font-size:75%;color:#fff;text-align:left}
section p{font-size:90%}
section h1,h2,h3{font-family:Sans-Serif;text-transform:capitalize}
.raleway{font-family: font-family: 'Noto Sans', sans-serif;}
#contentwarp h3{border-bottom:#ccc solid 1px;border-top:#ccc solid 1px;font-size:120%;line-height:2em}
#hdside ul li{line-height:1.8em;font-size:90%}
input[type=checkbox]{display:none}input[type=checkbox]:checked ~ #topmenu{display:block}
.vertop{vertical-align:top;}
#content{font-size:90%;color:#454548}
small,.wp-caption-text {
    font-size: 70%;color:#888;font-style:italic;
}

#head{width:100%;
 -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;}
#head .headwrap{padding:5px 5px}
#head .lnr{font-size:180%}
.topfix{position:fixed;top:0;width:100%;z-index:998}
#menumobile{width:70%;position:fixed;z-index:999;top:0;bottom:0;background:#4C4B4B;
-webkit-box-shadow:-5px 0 5px -5px #333;
box-shadow: -5px 0 5px -5px #333;  -moz-transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -ms-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;}
.cright {right:-75%;}
.crightnone{right:0%;}
#menumobile div{padding:20px}
#menumobile ul li a{display:block;padding:10px 5px;border-bottom:#0E0C0C solid 1px;}

#fixfooter{position:fixed;bottom:0;width:100%}
#fixfooter div{background:#000;text-align:center}
#fixfooter ul{margin:0;padding:0;list-style-type:none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
#fixfooter ul li{width:19%;display:inline-block;padding:0;margin:0}
#fixfooter ul li a{display:block;text-align:center;padding:15px 5px}
#fixfooter ul li:nth-child(odd) a{background:#000}
#fixfooter ul li:nth-child(even) a{background:#252424}
